body {
  background-color: hsl(212, 45%, 89%);
}

img {
  width: 400px;
  height: 400px;
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  padding-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 10px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

}

h1 {
  font-weight: 700;
  font-family: "Outfit", sans-serif;
  font-size: 30.1px;
  text-align: center;
  color: hsl(218, 44%, 22%);
}

p {
  font-family: 'Outfit', sans-serif;
  font-size: 19px;
  font-weight: 500;
  text-align: center;
  display: flex;
  color: hsl(220, 15%, 55%);
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.qr-code {
  background-color: white;
  border-radius: 20px;
  width: 15%;
  height: 620px;
  width: 420px;
 padding-right: 20px;
}

.qr-code__text {
  padding-left: 25px;
  padding-right: 25px;
}
